[flake8]
ignore = E203, E266, E501, W503, F403, F401, C408
# C408: I disagree since readability > speed:
# <https://github.com/adamchainz/flake8-comprehensions/issues/418>
max-line-length = 89
max-complexity = 18
select = B,C,E,F,W,T4,B9
