*.egg-info
*.eggs
*.pyc
*.tar.gz
.mypy_cache/
.vscode/
.idea/
build/
dist/
venv/
test_install*.yml
test_install*.lock
tests/**/*.lock
tests/**/*.yml
tests/**/*.bak
site/
filelock
.coverage
.micromamba/
