black
check-manifest
doctr
flake8
flake8-builtins
flake8-comprehensions
flake8-mutable
isort
mypy
pre_commit
pylint
pytest
pytest-cov
pytest-flake8
pytest-xdist
setuptools_scm
sphinx
toml
twine
wheel
