-r requirements.txt
black
check-manifest
doctr
filelock
flake8
flake8-builtins
flake8-comprehensions
flake8-mutable
isort
mypy
pre_commit
pylint
pytest
pytest-cov
pytest-flake8
pytest-xdist
pytest-timeout
setuptools_scm
toml
twine
wheel
mkdocs
mkdocs-material
mkdocs-click
flaky
docker