-r requirements.txt
black
check-manifest
doctr
filelock
flake8
flake8-builtins
flake8-comprehensions
flake8-mutable
build
isort
mypy
pre_commit
pylint
pytest
pytest-cov
pytest-flake8
pytest-xdist
pytest-timeout
tomli; python_version<"3.11"
twine
wheel
mkdocs
mkdocs-material
mkdocs-click
mkdocs-include-markdown-plugin
flaky
docker
