name: mkdocs
on:
  push:
    branches:
      - main
  workflow_dispatch:

# Default to bash in login mode; key to activating conda environment
# https://github.com/mamba-org/provision-with-micromamba#IMPORTANT
defaults:
  run:
    shell: "bash -l {0}"

# Deny all permissions by default
permissions: {}

env:
  MICROMAMBA_VERSION: 'latest'

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    concurrency: ci-${{ github.ref }}
    permissions:
      contents: write  # for mkdocs gh-deploy to push to gh-pages branch
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: "recursive"
          fetch-depth: 0       # Fetch all history for .GitInfo and .Lastmod
          persist-credentials: true

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Install dependencies
        uses: "mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462" # v2.0.7
        with:
          micromamba-version: "${{ env.MICROMAMBA_VERSION }}"
          environment-file: "environments/dev-environment.yaml"
          cache-environment: true

      - name: Install conda-lock
        run: "pip install ."

      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-

      - name: Deploy with mkdocs
        run: mkdocs gh-deploy --force
