name: publish

on:
  release:
    types:
      - published
  push:
    branches: [master, main]

jobs:
  packages:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9

    - name: build
      run: |
        python -m pip install wheel twine build
        python -m build

    - name: Check files
      run: |
        ls dist
      shell: bash

    - name: Test wheels
      run: |
        python -m twine check dist/*
      shell: bash

    - name: Publish a Python distribution to PyPI
      if: ${{ github.event_name == 'release' }}
      uses: pypa/gh-action-pypi-publish@v1.8.8
      with:
        user: __token__
        password: ${{ secrets.PYPI_PASSWORD }}
