name: test

on:
  pull_request:
  push:

jobs:
  test-windows:
    env:
      PYTHONUNBUFFERED: "1"
      FORCE_COLOR: "1"
    runs-on: windows-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-forge

      - name: Install deps
        run: |
          conda activate test
          conda install mamba pip pytest-cov pytest-xdist
          python -m pip install -r requirements-dev.txt

      - name: install lib
        run: |
          conda activate test
          pip install -e . --no-deps --force-reinstall

      - name: run-test
        run: |
          conda activate test
          Xcopy /E /I tests "%RUNNER_TEMP%\\tests"
          pushd "${RUNNER_TEMP}"
          set TMPDIR="%RUNNER_TEMP%"
          dir
          pytest -n auto -vrsx --cov=conda_lock tests

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest ]
        python-version: [ '3.7', '3.8' ]
    defaults:
      run:
        shell: bash -l {0}
    env:
      PYTHONUNBUFFERED: "1"
      FORCE_COLOR: "1"
    steps:
      - uses: actions/checkout@v3

      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-forge

      - name: Install deps
        run: |
          conda activate test
          conda install mamba pip pytest-cov pytest-xdist
          set -x
          echo "${PATH}"
          which pip
          which python
          python -m pip install -r requirements-dev.txt

      - name: install lib
        shell: bash -l {0}
        run: |
          conda activate test
          which pip
          pip install -e . --no-deps --force-reinstall

      - name: run-test
        shell: bash -l {0}
        run: |
          conda activate test
          cp -a tests "${RUNNER_TEMP}/"
          pushd "${RUNNER_TEMP}"
          export TMPDIR="${RUNNER_TEMP}"
          ls -lah
          set -x
          which pytest
          pytest -n auto -vrsx --cov=conda_lock tests

      - name: test-gdal
        shell: bash -l {0}
        run: |
          conda activate test
          pushd "${RUNNER_TEMP}/tests/gdal"
          export TMPDIR="${RUNNER_TEMP}"
          ls -lah
          conda-lock --mamba  -f environment.yml -p linux-64
